.blinking-cursor {
  font-weight: bold;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.section {
  padding: 0.2em;
  margin: auto;
}

.section--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 3em;
  margin-top: 0rem;
  margin-bottom: 0rem;
}
