/* Specify in CSS
Use the following CSS rules to specify these families:

font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif; */
body {
  font-family: "Droid Sans Mono";
  color: rgba(0, 0, 0, 0.6);
  font-size: 10pt;
  letter-spacing: 0.002rem;
}

.section {
  padding: 0.2em;
  margin: auto;
}

.section--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__title {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 3em;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.section__title {
  font-family: "Droid Sans Mono";
  color: black;
  font-size: 1.2rem;
  margin: 0 0 0.2rem 0;
}

.section-body {
  font-family: "Droid Sans Mono";
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: space-between;
      -ms-flex-positive: space-between;
          flex-grow: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact__detail {
  margin: auto;
}

.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: space-between;
      -ms-flex-positive: space-between;
          flex-grow: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

h5 {
  font-size: 1rem;
  margin-top: 0em;
  margin-bottom: 0.2rem;
}

ul {
  margin-top: 0rem;
}

h4 {
  font-size: 0.8rem;
}

h1 {
  font-size: 1rem;
}

.job__title {
  white-space: nowrap;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  color: rgba(0, 0, 0, 0.85);
  color: rgba(0, 0, 0, 0.85);
}

.job__company {
  color: rgba(0, 0, 0, 0.8);
}

.project__title {
  white-space: nowrap;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.project__description {
  margin-left: 2rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.3rem;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.education--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.education__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.job__date {
  color: rgba(0, 0, 0, 0.7);
}

.education__title {
  color: rgba(0, 0, 0, 0.7);
}

.skills__title {
  color: rgba(0, 0, 0, 0.7);
}

.interests__title {
  color: rgba(0, 0, 0, 0.7);
}

.blinking-cursor {
  font-weight: bold;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.project__skills {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 2rem;
}
